<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
  <menu>
    <add id="Conceptive_CmsImportExport::import" title="Import" module="Conceptive_CmsImportExport" sortOrder="100" parent="Magento_Backend::content_elements" action="cms/import" resource="Conceptive_CmsImportExport::import" dependsOnConfig="conceptive_cmsimportexport/general/enabled"/>
  </menu>
</config>   